
.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }
  .example-container{
    height: 400px;
    overflow:auto;
  }
  table {
    width:100%;
  }
 td.mat-footer-cell{
   font-weight: bold;
 }
  
  /*
  mat-table-sticky :first-child{
    border-right: 1px solid #e0e0e0;
  }
  mat-table-sticky :last-child{
    border-left: 1px solid #e0e0e0;
  }
  */
  /*
  .example-container {
    height: 450px;
   // width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
 
  //td.mat-column-star {
  //  width: 1px;
    //padding-right: 1px;
  //}
   /*
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  *//*
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
  */